/* :root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* div, header, main, nav {
  border: 2px solid tomato;
} */

.nav {
  display:grid;
  grid-template-columns: 1fr max-content;
  background: black;
}

.nav-link {
  display: inline-block;
  box-sizing: content-box;
  width: auto;
  padding: 10px;
  margin: 5px 0 5px;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  color: white;
  background: black;
  border: 2px solid black
}

.nav-link:hover {
  color: white;
  border: 2px solid white;
}

.size-link {
  width: fit-content;
  font-size: 1.2em;
  font-weight: normal;
  padding: 5px 10px;
  border: 1px solid darkgrey;
  margin: 5px 0;
}

.size-link:hover {
  background: lightgrey;
}

.size-link:active {
  background: white;
  border: 1px solid tomato;
  box-shadow: 0 0 2px 1px orange;
}

.size-active-ink {
  width: fit-content;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid tomato;
  margin: 5px 0;
}